.container-fluid.margin-bottom-more
  .row
    .nav
      .navbar-right
        .nav-rightbuttons
          %ul
            .nav-rightbuttons-brackets
              %span {
              %span }

            %li
              = link_to "Work", "#"
            %li
              = link_to "Approach", "#"
            %li
              = link_to "Contact", contact_path