.container-fluid.margin-bottom-more
  .row
    .col-md-3.col-xs-12.col-sm-6
      .nav-logo
        = link_to "twopeople", root_path

    .col-md-5.col-xs-12.col-sm-6.pull-right
      .nav-rightbuttons.pull-right
        %ul
          .nav-rightbuttons-brackets
            %span {
            %span }

          %li
            = link_to "work", "#"
          %li
            = link_to "what we do", approach_path
          %li
            = link_to "contact", contact_path