= render partial: "nav"

.container
  .row
    .col-md-offset-1.col-md-10
      .centerbox.white.margin-bottom
        .padded
          %blockquote We're a consulting firm based in Downtown Los Angeles, California. We build web apps, sites, and technology for inspiring people with great ideas.

        = image_tag "girlwphone.jpg"

        .padded
          %h2 Our clients
          %p We work with people whose projects are as exciting for us as they are for them. We like the thinkers who are looking to do something special not just for themselves, but for the people and communities they're part of.
          %p We like cities and livability. We like open data and civic good. We like friendship and collaboration. We want to build things that people can be proud of. And we work with #{link_to "people who feel the same way", "#"}.
          %p (We also think words like “disrupt” and “reinvent” are boring, and totally annoying.)

