= render partial: "nav"

.container
  .row
    .col-md-offset-1.col-md-10
      .centerbox.white.margin-bottom
        .padded
          %blockquote We're a consulting firm based in Downtown Los Angeles, California. We build web apps, sites, and technology for inspiring people with great ideas.

        = image_tag "girlwphone.jpg"

        .padded
          %h2 Our clients
          %p We work with people whose projects are as exciting for us as they are for them. We like the thinkers who are looking to do something special not just for themselves, but for the people and communities they're part of.
          %p We like cities and livability. We like open data and civic good. We like friendship and collaboration. We want to build things that people can be proud of. And we work with #{link_to "people who feel the same way", "#"}.
          %p (We also think words like “disrupt” and “reinvent” are boring, and totally annoying.)

          %h2 Tools
          %p Though we recognize the importance of finding tools that are the best fit for each individual project, we love #{link_to "Ruby on Rails", "http://rubyonrails.org/"}, and we tend to use it more often than not. Here’s why:
          %dl
            %dt Rails is open source
            %dd This means it’s free for anyone to use and improve as they see fit. No licensing. No caveats.

          %dl
            %dt Rails is well-adopted
            %dd Rails is used by tens of thousands of companies, many of which you’ve definitely heard of. That’s is basically like having an entire team of people around the world who are testing  Rails for reliability, speed and security, and they’ve been doing it since 2004. This means that bugs get fixed almost immediately, and new technologies are incorporated readily.

          %dl
            %dt Gems
            %dd The Ruby language’s enormous community of active developers and maintainers have created  a wealth of Gems (sort of like plugins for Ruby) which dramatically speed up development time for our projects by keeping us from having to rewrite software for common tasks like payment processing, user accounts, or text message handling. Much like the Ruby on Rails framework (Which is also a Gem itself. Crazy right?), Gems also a provide well-tested, reliable code out of the box.

          %dl
            %dt Rails has strong conventions
            %dd When writing code for Rails, there is almost always a conventional or “suggested” way of doing things, and any good Rails developer knows those conventions like the back of his or her hand. This means that any future developers can easily pick up our code and continue where we left off with little to no learning curve.

