@font-face {
  font-family: 'BrandonGrotesqueRegular';
  src: url(asset-path("brandon_reg.eot"));
  src: url(asset-path("brandon_reg.eot")) format('embedded-opentype'),
       url(asset-path("brandon_reg.woff")) format('woff'),
       url(asset-path("brandon_reg.ttf")) format('truetype'),
       url(asset-path("brandon_reg.svg#BrandonGrotesqueRegular")) format('svg');
}

$font-1: 'BrandonGrotesqueRegular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;