@import 'colors';

.centerbox {
  padding:50px;
  color:#fff;

  &.blue {
    background-color:rgba($blue, .95);
  }

  textarea {
    background:none;
    border:none;
    color:#fff;
    font-size:36px;
    outline:none;
    width:100%;
    height:200px;
    resize:none;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #fff;
  }

  .centerbox-line {
    height:3px;
    background-color:rgba(#fff, .3);
  }

  button {
    background:none;
    border:none;
    font-size: 36px;
    outline:none;

    &:hover {
      color:#eee;
    }
  }
}