@import 'colors';
@import 'widths-and-heights';

.nav-rightbuttons {
  position:relative;
  padding:$height-standard;
  background-color:#efe7da;
  color:$red;
  font-size:20px;
  font-weight:bold;
  text-align:center;

  ul {
    position:relative;
    list-style:none;
    padding:0 $height-standard;
    z-index:2;

    li {
      position:relative;
      display:inline-block;
      margin-right:40px;

      &:last-child {
        margin-right:0;
      }

      a {
        color:$red;
      }
    }
  }
}

.nav-rightbuttons-brackets {
  position:absolute;
  top:-2px;
  z-index:1;

  span {
    &:first-child {
      float:left;
    }

    &:last-child {
      float:right;
    }
  }
}

.centerbox {
  padding:50px;
  color:#fff;

  &.blue {
    background-color:rgba($blue, .95);
  }

  &.green {
    background-color:rgba($green, .95); 
  }

  input[type=text], input[type=email], input[type=tel] {
    background:none;
    border:none;
    border-bottom:3px solid rgba(#fff, .3);
    display:block;
    width:100%;
    font-size:34px;
    padding:$height-standard 0;
    outline:none;
  }

  textarea {
    background:none;
    border:none;
    color:#fff;
    font-size:34px;
    font-weight:200;
    outline:none;
    width:100%;
    height:200px;
    resize:none;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #fff;
  }

  button {
    background:none;
    border:none;
    font-size: 36px;
    outline:none;

    &:hover {
      color:#eee;
    }
  }
}

.centerbox-line {
  height:3px;
  margin-bottom:20px;
  background-color:rgba(#fff, .3);
}