@import 'colors';
@import 'widths-and-heights';

a {
  color:#FFF;

  &:hover {
    color:$green;
    text-decoration:none;
  }
}

html {
  height:100%;
}

body {
  background:url(asset-path("background.jpg")) no-repeat;
  background-attachment:fixed;
  background-size:cover;
  font-family:"Brandon Grotesque";
  height:100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:$height-standard-2;
  font-weight:400;

  &:first-child {
    margin-top:0;
  }
}

h1 {
  font-size:$font-size-standard-3;
}

h2 {
  font-size:$font-size-standard-2;
}

.contentwrapper {
  min-height:100%;
}

@each $side in left, right, top, bottom {
  .margin-#{$side} {
    margin-#{$side}:$height-standard-2;
  }

  .margin-#{$side}-more {
    margin-#{$side}:$height-standard-3; 
  }
}