@import 'colors';
@import 'widths-and-heights';

a {
  color:#FFF;

  &:hover {
    color:$green;
    text-decoration:none;
  }
}

html {
  height:100%;
}

body {
  background:url(asset-path("background.jpg")) no-repeat;
  background-position:-100px -100px;
  font-family:"Brandon Grotesque";
  height:100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:$height-standard-2;
  font-weight:400;

  &:first-child {
    margin-top:0;
  }
}

h1 {
  font-size:61px;
}

@each $side in left, right, top, bottom {
  .margin-#{$side} {
    margin-#{$side}:$height-standard;
  }

  .margin-#{$side}-more {
    margin-#{$side}:$height-standard-2; 
  }
}