@import 'colors';

a {
  color:#FFF;

  &:hover {
    color:$green;
    text-decoration:none;
  }
}

body {
  background:url("background.jpg") no-repeat;
  background-position:-750px -750px;
  font-family:"Brandon Grotesque";
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:40px;
  font-weight:400;
}

h1 {
  font-size:61px;
}

.margin-top {
  margin-top:20px;
}