$golden-ratio:1.61803398875;

$height-standard:15px;
$height-standard-2:$height-standard * $golden-ratio;
$height-standard-3:$height-standard-2 * $golden-ratio;
$height-standard-4:$height-standard-3 * $golden-ratio;

$font-size-standard: 22px;
$font-size-standard-2: $font-size-standard * $golden-ratio;
$font-size-standard-3: $font-size-standard-2 * $golden-ratio;
$font-size-standard-4: $font-size-standard-3 * $golden-ratio;