$golden-ratio:1.61803398875;

$height-standard:15px;
$height-standard-2:$height-standard * $golden-ratio;
$height-standard-3:$height-standard-2 * $golden-ratio;
$height-standard-4:$height-standard-3 * $golden-ratio;